log/*.log
db/schema.rb
config/database.yml
config/development.sphinx.conf
tmp/*/*
.log
public/user
public/system
*~
.DS_Store
public/.DS_Store
coverage.data
coverage/*
db/sphinx/development/*
log/searchd.development.pid
config/.DS_Store
mkmf.log
*/mkmf.log
vendor/.DS_Store
vendor/plugins/.DS_Store
