<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.rubypeople.rdt.testunit.launchconfig">
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.rubypeople.rdt.debug.ui.rubySourceLocator"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<listAttribute key="org.rubypeople.rdt.launching.CUSTOM_LOAD_PATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeLoadpathEntry externalArchive=&quot;/home/sahni/Desktop/gamesite/lib&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeLoadpathEntry externalArchive=&quot;/home/sahni/Desktop/gamesite/test&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
</listAttribute>
<stringAttribute key="org.rubypeople.rdt.launching.FILE_NAME" value="/home/sahni/gamesite/.metadata/.plugins/org.rubypeople.rdt.testunit/ruby/RemoteTestRunner.rb"/>
<stringAttribute key="org.rubypeople.rdt.launching.PROJECT_NAME" value="gamesite"/>
<booleanAttribute key="org.rubypeople.rdt.launching.REQUIRES_REFRESH" value="true"/>
<booleanAttribute key="org.rubypeople.rdt.launching.USE_DEFAULT_LOAD_PATH" value="false"/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_NAME" value="usr"/>
<stringAttribute key="org.rubypeople.rdt.launching.VM_INSTALL_TYPE_ID" value="org.rubypeople.rdt.launching.StandardVMType"/>
<stringAttribute key="org.rubypeople.rdt.launching.WORKING_DIRECTORY" value="/home/sahni/Desktop/gamesite"/>
<stringAttribute key="org.rubypeople.rdt.testunit.CONTAINER" value="/home/sahni/gamesite/.metadata/.plugins/org.radrails.rails.core/run_unit.rb"/>
<stringAttribute key="org.rubypeople.rdt.testunit.TESTNAME" value=""/>
<stringAttribute key="org.rubypeople.rdt.testunit.TESTTYPE" value=""/>
</launchConfiguration>
