<% if game.description.blank? %>
  &nbsp;
 <%else%>
  <%=truncate(game.description, :length => len)%>
  <span class="more">
    <%= link_to "more", ( admin_logged_in? ? admin_game_path(game) : game_path(game) )  if  game.description.length > 20 %>
  </span>
<% end %>
