
	<% if game.description.blank? %>
		&nbsp;
	<%else%>
		<% if game.description.length>120 %>
			<%=truncate(game.description, :length => len)%>
			<span class="more">
				<%= link_to "more", game_path(game) %>
			</span>
		<% else %>
			<%=h (game.description)%>
		<% end %>
	<% end %>
