  
        <li><%= link_to 'PS3',:controller => "games",:action => "browse_by_platform",:platform => Platform.find_by_name("PS3") %></li>
        <li><%= link_to 'XBox360', :controller => "games",:action => "browse_by_platform",:platform => Platform.find_by_name("Xbox360")%></li>
   