<div class="one_col">
  <div id="games_listing">
    <p>New Game</p>
  </div>
  <div class="one_col_top">&nbsp;</div>
  <div class="one_col_content">
    <div id="edit_game_form">  
      <%= render :partial => 'form', :locals => {:game => [:admin, @game], :button_text => 'Create', :act => 'create', :path_to_redirect => admin_games_path} %>
    </div>  
  </div>

  <div class="one_col_bottom">&nbsp;</div>
</div>



