<div class="one_col">
  <div class="one_col_top">&nbsp;</div>
  <div class="one_col_content">


    <div id="confirmation">
		<h1>Personal details:</h1>
		Name:<%=@user.name%><br/>
		Phone:<%=@user.phone%><br/>
		email:<%=@user.email%><br/>
		identification_token:<%=@user.identification_token%>
	</div>
  </div>   
  <div class="one_col_bottom">&nbsp;</div>
</div>