	<li><% form_tag search_games_path, :method => :get do %>
	  
			<%= text_field_tag :search, params[:search],:size => 20, :value => "Search.." %>
			<%= submit_tag "Search", :name => nil %>
			
		<% end %>
				</li>