<div class="one_col">
  <div class="one_col_top">&nbsp;</div>
  <div class="one_col_content">


    <div id="confirmation">
			<h2>About us!</h2>
			Now you need not buy expensive Xbox 360 and PS3 games. All you have to do is to get registered on Games* to start renting the latest games. Rent as many games as you like for just Rs.500 per month. Grab the game that you want before anyone else can,but if you fail to do so you can shortlist the games of you liking and we will let you know when ever that games get free.<br /><br />
      For account activation, you need to make a payment of Rs.<%= MON_SUB+SECURITY %>, which includes Rs.<%= MON_SUB %> (monthly subscription) and Rs.<%= SECURITY %> as security (one time refundable payment). Payment can only be made through cheque in favor of "Vinsol Gamesite".<br /><br />
			At the time of registration, an identification token will be given to you. Make sure to write the identification token given below behind the cheque before sending it to us.<br /><br />
    
		 	Please send your cheque at the address given below:<br /><br />
      <b>
			Vinayak Solutions Pvt. Ltd.<br />
			2/6, Basement of ICICI Building<br />
			West Patel Nagar<br />
			New-Delhi
			</b>
			<br /><br />

      As soon as your cheque gets cleared, your account will be activated and you will get a notification through an email.
      <br/><br/>
     </div>
    </div>   
    <div class="one_col_bottom">&nbsp;</div>
  </div>