<div class="one_col">
  <div class="one_col_top">&nbsp;</div>
  <div class="one_col_content">


    <div id="confirmation">
			<h2>Contact Us!</h2>
    
      For any queries, contact:<br />
			email address<br /><br />
			
      For sending cheques, the address is:<br /><br />
     <b>
			Vinayak Solutions Pvt. Ltd.<br />
			2/6, Basement of ICICI Building<br />
			West Patel Nagar<br />
			New-Delhi<br /><br />
			</b>
     </div>
     </div>   
     <div class="one_col_bottom">&nbsp;</div>
   </div>