<html>
	<head><%= stylesheet_link_tag 'mailer.css' %></head>
	<div id = "header">
		<h1 style="color:green">gamesonrent.in</h1>
	</div>
	
	<body>
		<%= yield %>
	</body>
	
	<div id = "footer">
		Thanks
		Gamesonrent
	</div>
	
</html>
